.TextStyle {
    padding:10px;
}

div.AllContainer {
    display: flex;
    background-color: whitesmoke;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 1px;
    justify-content: space-between;
}

div.OwnerContainer {
    display: flex;
    float: left;
    background-color: #f0f0fa;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 15px;
    justify-content: space-between;
}

div.StatsContainer {
    display: flex;
    float: left;
    background-color:#f0f0fa;
    flex-direction: column;
    width: 90%;
    height: 40%;
    margin: 10px;
    font-size: 50%;
}

div.StatsItemContainer {
    display: flex;
    float: left;
    background-color:#f0f0fa;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

div.UserContainer {
    display: flex;
    float: right;
    background-color:#f0f0fa;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 10px;
    justify-content: space-between;
}

div.logArea {
    display: flex;
    float: left;
    background-color: #f0f0fa;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: 15px;
    justify-content: space-between;
}

.videoContainer {
    width: 320px;
    height: 180px;
}

.videoView {
    width: 320px;
    height: 180px;
    object-fit: fill;
}

